$green-600: #48C010;
$green-500: #79D94C;
$green-300: #C7EDB6;
$green-200: #E4F7DB;

$blue-600: #057CC1;
$blue-500: #5CADDC;
$blue-400: #94BED5;
$blue-300: #C3E9FE;
$blue-200: #CEE6F4;
$blue-100: #DEEFF8;

$gray-400: #869095;
$gray-350: #D4D4CF;
$gray-300: #F7F7F6;
