$green-800: #0A9552;
$green-700: #0DB866;
$green-600: #48c010;
$green-500: #79d94c;
$green-300: #c7edb6;
$green-200: #e4f7db;

$blue-400: #94bed5;
$blue-500: #5caddc;
$blue-300: #c3e9fe;
$blue-200: #cee6f4;
$blue-100: #deeff8;
$btn-blue-600: #057cc1;
$btn-blue-500: #5CADDC;

$gray-300: #f7f7f6;
$gray-400: #869095;
$gray-350: #d4d4cf;
$gray-300: #f7f7f6;

$black-800: #192024;
$black-700: #0d2f43;
$black-600: #173b05;

$blue-700: #0068a5;
$blue-600: #6b8ca4;

$white-100: #ffffff;

$error-500: #9d1435;
