.button {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.41px;
  background-color: #E1E1E1;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: .7;
  }

  &__small {
    width: 97px;
    height: 40px;
  }

  &__medium {
    width: 335px;
    height: 37px;
  }

  &__large {
    width: 380px;
    height: 37px;
  }
}
