@import '../../scss/colors/buttons';
@import '../../scss/colors/texts';

.sn {
  &__titleWrap {
    display: flex;
    column-gap: 8px;
    align-items: center;
    padding-bottom: 12px;
  }
  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: $black-800;
    margin: 0;
  }
  &__text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    color: $blue-600;
  }
}