@import '../../../scss/colors/colors.scss';

.forgotPasswordTool {
  &__title {
    color: $black-700;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
  }
  &__text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    color: $black-800;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
