@import '../../../scss/colors/colors.scss';

.item {
  position: relative;
  margin-bottom: 72px;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;


  @media (min-width: 575px) {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    gap: 12px;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    gap: 72px;
  }

  @media (min-width: 1440px) {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    gap: 0;
    max-width: 376px;
  }


  &-position-right {

    @media (min-width: 575px) {
      flex-direction: row-reverse;
      justify-content: end;
    }

    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }

    @media (min-width: 1440px) {
      justify-content: right;
      flex-direction: column;
    }
  }

  &:last-of-type {
    margin-bottom: 32px;

    @media (min-width: 1440px) {
      margin: 0;
    }
  }

  &-textContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: left;
    padding: 0 16px 32px;
    max-width: 343px;

    @media(min-width: 525px) {
      max-width: 450px;
      padding: 0;
    }

    @media (min-width: 768px) {
      max-width: 288px;
    }

    @media (min-width: 1440px) {
      padding: 0;
      max-width: 100%;
      height: 153px;
    }
  }

  &-title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color: $blue-700;
    margin: 0;
  }

  &-subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
  }

  &-image {
    text-align: right;
    max-width: 360px;
    object-fit: cover;

    @media(min-width: 525px) {
      margin: 0;
      height: 472px;
    }

    @media(min-width: 1440px) {
      max-width: 375px;
      max-height: 472px;
    }


    &-position-right {
      align-self: flex-end;
      flex-direction: unset;

      @media(min-width: 525px) {
        margin: 0;
      }
    }
  }
}
