.button {
  background-color: #aeaeae;
  border-radius: 32px;
  color: white;
  height: 44px;
  border: none;
  cursor: pointer;
  &:disabled {
    background-color: #b1bbc0;
    color: white;
    cursor: default;
  }
}

.button__mail {
  color: #324552;
  background-color: white;
  border: 1px #000000 solid;
  width: 100%;
}

.button__blue {
  background-color: #5caddc;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  &:disabled {
    background-color: #b1bbc0;
    color: white;
  }
}
