@import '../../scss/colors/buttons';
@import '../../scss/colors/texts';

.button {

  border-radius: 32px;
  color: white;
  height: 44px;
  border: none;
  cursor: pointer;
  background-color: $blue-500;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

   &:hover{
    background-color: $blue-600;
   }

  &:disabled {
    background-color: $gray-400;
    cursor: default;
  }
}

