@import '../../scss/colors/colors.scss';

.button {
  border-radius: 32px;
  color: white;
  height: 44px;
  border: none;
  cursor: pointer;
  background-color: $blue-500;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $btn-blue-600;
  }

  &:disabled {
    background-color: $gray-400;
    opacity: 0.3;
    cursor: default;
  }
}

