@import '../../../scss/colors/colors.scss';

.resetPassword {
  &__title {
    color: $black-700;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}