.cancel {
    margin: 19px auto 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    background-color: transparent;
    color: #5caddc;
    cursor: pointer;
    &:hover {
      color:#057CC1
    }
    &:disabled {
      color: #869095;
      cursor: default;
  }

}