@import '../../scss/colors/colors.scss';
.cancel {
  margin: 19px auto 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  border: none;
  background-color: transparent;
  color: $blue-500;
  cursor: pointer;

  @media (min-width: 768px) {
    margin: 0;
  }

  &:hover {
    color: $btn-blue-600;
  }
  &:disabled {
    color: $gray-400;
    cursor: default;
  }
}
