@import '../../../scss/colors/colors.scss';

.forgotPassword {
  &__title {
    color: $black-700;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    padding-bottom: 20px;
  }
  &__text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    color: $black-800;
    padding-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__error {
    display: block;
    height: 15px;
    opacity: 0;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 2px;
    color: $error-500;
    &_active {
      opacity: 1;

    }
  }
}