@import '../../scss/colors/colors.scss';
.Description {
  padding: 16px;
  border-radius: 12px;
  background: $gray-300;
  z-index: 5;

  &__title {
    color: $blue-700;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    margin-right: 6px;
  }

  &__text {
    color: $black-700;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__moreBtn {
    all: unset;
    color: $blue-600;

    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    cursor: pointer;
  }
}
