@import '../../scss/colors/colors.scss';

.specialist {
  &__container {
    display: grid;
    padding: 0 0;
  }
  &__page {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    grid-template-areas:
      'personalData'
      'services'
      'aboutMe'
      'education'
      'expirience'
      'certificate'
      'feedback'
      'buttons';

    @media (min-width: 768px) {
      grid-template-areas:
        'personalData'
        'buttons'
        'services'
        'aboutMe'
        'education'
        'expirience'
        'certificate'
        'feedback';
    }
  }
  &__btn {
    position: sticky;
    bottom: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    grid-area: buttons;
    @media (min-width: 768px) {
      bottom: 29px;
      top: 44px;
    }
  }
}
