@import '../../scss/colors/colors.scss';

.workoutPlan {
  height: 100%;
  padding: 0 16px 80px;
  margin: 0 auto;
  max-width: 375px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    max-width: 645px;
    padding: 40px 0 80px 40px;
    margin: 0;
  }

  &__mainTitle {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: right;
    margin: 18px 0 32px;

    @media (min-width: 768px) {
      text-align: left;
      margin: 36px 0;
    }
  }

  &__header {
    margin-bottom: 32px;

    @media (min-width: 768px) {
      margin-bottom: 36px;
    }
  }

  &__deleteBtn {
    color: var(--buttons-error-500, #9d1435);
    margin: 16px auto 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    border: none;
    background: none;
    cursor: pointer;
  }
}
