.noteBlock {
  &__title {
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  &__day {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__add {
    padding: 0;
    background-color: transparent;
    border: none;
    color: #0068a5;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    cursor: pointer;
  }
  &__input {
    height: 40px;
    background-color: #f7f7f6;
    border-radius: 8px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: #d4d4cf 0.5px solid;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #0d2f43;
    width: 100%;

    &::placeholder {
      color: #869095;
    }
    &:focus {
      border-color: #0d2f43;
    }
    &:disabled {
      color: #d4d4cf;
    }
    &_textarea {
      min-height: 140px;
    }
    &_invisible {
      display: none;
    }
  }
}
