.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: .3);

  &__container {
    background-color: #fff;
    padding: 32px 20px;
    border-radius: 30px;
    position: relative;
    width: calc(100vw - 72px);
  }
  &__closeBtn {
    position: absolute;
    background-color: transparent;
    border: none;
    padding: 0;
    top: 20px;
    right: 20px;
    &::before {
      display: block;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.58899 4.28997L11.9839 10.4443L18.4071 4.26272C18.7744 3.90932 19.3584 3.90937 19.7445 4.28158C20.0925 4.63702 20.084 5.20486 19.7254 5.5499L13.315 11.7254L11.9841 13L10.6592 11.7192C6.39587 7.61596 4.26109 5.56117 4.25482 5.55484C3.90776 5.20034 3.91628 4.63402 4.27385 4.28993C4.64015 3.93745 5.22271 3.93747 5.58899 4.28997Z' fill='%23192024'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.411 19.71L12.0161 13.5557L5.59287 19.7373C5.22565 20.0907 4.64158 20.0906 4.25554 19.7184C3.90753 19.363 3.91604 18.7951 4.27456 18.4501L10.685 12.2746L12.0159 11L13.3408 12.2808C17.6041 16.384 19.7389 18.4388 19.7452 18.4452C20.0922 18.7997 20.0837 19.366 19.7261 19.7101C19.3598 20.0625 18.7773 20.0625 18.411 19.71Z' fill='%23192024'/%3E%3C/svg%3E");
      width: 24px;
      height: 24px;
    }
  }
}