@import '../../../scss/colors/colors.scss';

.registerModal {
  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    color: $black-800;
  }
  &__text {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    color: $black-800;
  }
  &__link {
    text-decoration: underline;
    color: $blue-700;
    font-size: 15px;
    font-weight: 400;
    line-height: 120%;
    margin-bottom: 18px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    // row-gap: 8px;
    padding: 30px 0 20px ;
  }
  &__error {
    display: block;
    height: 15px;
    opacity: 0;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-top: 2px;
    color: $error-500;
    &_active {
      opacity: 1;

    }
  }
}