.clientCard {
  &__content {
    display: flex;
    flex-direction: column;
    // padding-bottom: 80px;
    padding: 0 16px;
    margin: 0 auto;
    max-width: 375px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin: 32px 0;
  }

  &__button {
    position: relative;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    width: 165.5px;
    height: 180px;
    text-align: left;
    padding: 20px 16px 0;
    padding-bottom: 46px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
  }

  &__buttonPlusIcon {
    position: absolute;
    top: 20px;
    right: 16px;
    // height: 24px;
    // width: 24px;
  }

  &__mealPlanBtn {
    background: url('../../assets/images/client-card/button-images/add-meal-plan.png');
    background-size: contain;
  }

  &__workoutPlanBtn {
    background: url('../../assets/images/client-card/button-images/add-workout-plan.png');
    background-size: contain;
  }

  &__moreBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__moreBlock img {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    margin-bottom: 15px;
  }

  &__contacts {
    padding-bottom: 14px;
  }

  &__note {
    color: #6b8ca4;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
  }

  &__textContainer {
    padding: 16px;
    margin: 0;
    background: #f7f7f6;
    border-radius: 12px;
  }

  &__detailsSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: -20px;
  }

  &__details {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: #0068a5;
  }

  &__details span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #0d2f43;
  }

  &__contact {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0d2f43;
  }

  &__contactsTitle {
    margin-bottom: 11px;
  }

  &__contact:first-child {
    margin-bottom: 11px;
  }

  &__section {
    margin-bottom: 32px;
  }

  &__moreBtn {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 18px */
    text-decoration-line: underline;
    color: #0068a5;
  }

  @media (max-width: 370px) {
    &__button {
      font-size: 18px;
      width: 160px;
      height: 175px;
    }
  }

  @media (max-width: 320px) {
    &__button {
      font-size: 18px;

      width: 138px;
      height: 150px;
    }
  }
}
