.titlePage {
  &__container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    &_position {
      justify-content: space-between;
    }
  }
  &__back {
    padding: 0;
    font-size: 22px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
  }
}
