.card {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin: 0;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 12px;
  }

  &_reverse {
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.41px;
    margin: 0 0 12px;

    @media (max-width: 768px) {
      font-size: 22px;
      line-height: 22px;
      text-align: center;
    }
  }

  &__subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: -0.41px;
    margin: 0;

    @media (max-width: 768px) {
      font-size: 15px;
      line-height: 17px;
      text-align: center;
    }
  }

  &__column {
    width: 334px;
    height: 332px;

    @media (max-width: 768px) {
      width: 335px;
      height: auto;
    }
  }

  &__image_container_temp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 334px;
    height: 332px;
    background-color: #727272;
    opacity: .3;
    z-index: 0;
    border-radius: 10px;

    @media (max-width: 768px) {
      width: 335px;
      height: 150px;
    }
  }

  &__image {
    width: 40px;
    height: 40px;
    z-index: 1;
  }
}
