@import '../../scss/colors/texts';

.delete {
    margin: 19px auto 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    border: none;
    background-color: transparent;
    color: $error-500;
    cursor: pointer;
   &:hover {
    color: #9D1435;
   }
  }

