.caloriesSection {
  &__calories {
    margin: 0 16px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 9px;
  }
  &__item {
    h4 {
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #192024;
      margin: 0;
    }
    p {
      font-weight: 700;
      font-size: 18px;
      line-height: 21.6px;
      color: #0068a5;
      margin: 0;
      padding: 9px 0;
    }
  }
}