@import '../../scss/colors/buttons';
@import '../../scss/colors/texts';

.navbar {
  display: flex;
  padding: 8px 0;
  max-width: 375px;
  background-color: $gray-300;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -1px 5px 0 rgba(228, 228, 227, .73);
  border-top: .5px solid $gray-300;

  &__navlink {
    text-decoration: none;
    color: $gray-400;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;

    &_active {
      color: $blue-700;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 86px;
  }

  &__image {
    width: 28px;
    height: 28px;
    color: $blue-700;
    fill: $blue-700;

    svg {
      fill: $blue-700;
    }
  }

  &__item {

  }
}
