@import '../../scss/colors/buttons';
@import '../../scss/colors/texts';

.navbar {
  display: flex;
  padding: 8px 0;
  width: 100%;
  justify-content: center;
  max-width: 375px;
  background-color: $gray-300;
  position: sticky;
  bottom: 0;
  left: 0;

  box-shadow: 0 -1px 5px 0 rgba(228, 228, 227, 0.73);
  border-top: 0.5px solid $gray-300;

  @media (min-width: 768px) {
    display: none;
  }

  &__navlink {
    text-decoration: none;
    color: $gray-400;
    font-size: 11px;
    font-weight: 400;
    line-height: 13.2px;

    &_active {
      color: $blue-700;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    width: 86px;
  }

  &__image {
    width: 28px;
    height: 28px;

    &_active {
      filter: brightness(0) saturate(100%) invert(22%) sepia(69%) saturate(2286%) hue-rotate(182deg) brightness(105%) contrast(102%);
    }

    svg {
      fill: $blue-700;
    }
  }

  &__item {
  }
}
