@import '../../scss/colors/texts';
@import '../../scss/colors/buttons';

.planItem {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 16px;

  &__img {

  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__textContainer {
  }

  &__title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    color: $black-800;
    margin: 0 0 4px;
  }

  &__dateOfCreation {
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $gray-400;
    margin: 0;
  }

  &__btnForward {
    width: 44px;
    height: 44px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: $gray-400;
    background: url("../../assets/images/planItem/planItem.svg") center/cover no-repeat;
    border: none;
    padding: 0;
  }

}
