@import '../../scss/colors/colors.scss';

.userNoteForm {
  max-width: 375px;

  @media (min-width: 768px) {
    max-width: 645px;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 16px;
  }

  &__title {
    color: $black-800;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    margin-top: 0;
  }

  &__input {
    border-radius: 8px;
    border: 0.5px solid $gray-350;
    background: $gray-300;
    width: 100%;
    max-width: 301px;
    margin-bottom: 12px;
    min-height: 140px;
    padding: 10px;
    box-sizing: border-box;

    @media (min-width: 768px) {
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }

    &:focus-visible {
      outline: none;
      border: 0.5px solid $black-700;
    }
  }

  &__input::placeholder {
    color: $gray-400;

    font-size: 16px;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }

  &__sendButton {
    padding: 11px 40px 12px 40px;
    border-radius: 32px;
    background: $blue-500;
    color: $white-100;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    border: none;

    @media (min-width: 768px) {
      max-width: 167px;
      max-height: 44px;
    }
  }
}
