.mealPlans {
  height: 100vh;
  padding-top: 13px;
  max-width: 375px;
  margin: 0 auto;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
  }
  &__link {
    text-decoration: none;
  }
}
