.landing {


  &__container {
    max-width: 1440px;
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      max-width: 335px;
      flex-direction: column;
      margin: 0 auto;
    }
  }


  &__content {
    background-color: #F2F2F2;
    padding: 180px 160px 60px 60px;

    @media (max-width: 768px) {
      background-color: #FFF;
      padding: 117px 20px 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding: 0;
  }

}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}



