@import '../../scss/colors/colors.scss';

.recommendation {
  &__content {
    margin: 0 16px;
    background-color: $gray-300;
    border-radius: 12px;
    font-size: 16px;
    line-height: 20.8px;
  }
  &__title {
    padding: 16px;
    margin: 0;
    font-weight: 500;
    color: $blue-700;
  }
  &__subtitle {
    font-weight: 400;
    color: $black-700;
  }
}
