@import '../../../scss/colors/colors.scss';

.textarea {
  &__input {
    padding: 8px 12px;
    width: calc(100% - 26px);
    border-radius: 8px;
    border: none;
    border: .5px solid $gray-350;
    background: $gray-300;
    font-size: 16px;
    line-height: 130%;
    font-weight: 400;
    color: $black-700;
    height: 112px;
    resize: none;
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: $gray-400;
    }
    &:focus-visible {
      outline: none;
      border: 0.5px solid $black-700;
    }
    &:invalid {
      border: .5px solid $error-500;
      color: $error-500;
    }
  }
}