@import './scss/normalize.css';

:root {
  font-family: Inter, 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #ffffff;
  color: #192024;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* код, чтобы убрать стрелочки на всех браузерах: */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
/* код, чтобы убрать календаря значок на всех браузерах: */
/* input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */
/* убирает из поля дата буквы */
/* input[type='date']:in-range::-webkit-datetime-edit-year-field,
input[type='date']:in-range::-webkit-datetime-edit-month-field,
input[type='date']:in-range::-webkit-datetime-edit-day-field {
  color: transparent;
} */
