@import './scss/normalize.css';
@import url('./vendor/fonts/Inter/inter.css');

:root {
  font-family: Inter, 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #ffffff;
  color: #192024;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* код, чтобы убрать стрелочки на всех браузерах: */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}

* {
  -webkit-tap-highlight-color: transparent;
}