@import './scss/normalize.css';

:root {
  font-family: Inter, 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #ffffff;
  color: #192024;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
