@import '../../scss/colors/colors.scss';

.plan {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 375px;
    padding-bottom: 80px;

    @media (min-width: 768px) {
      max-width: 645px;
      padding-right: 40px;
      margin: 0;
      box-sizing: border-box;
    }
  }
  &__userData {
    font-size: 22px;
    margin: 32px 0;
    font-weight: 700;
    line-height: 26px;
    text-align: start;
    padding-right: 18px;

    @media (min-width: 768px) {
      margin: 36px 0;
    }
  }
  &__form {
    display: grid;
    row-gap: 32px;
    width: 100%;

    @media (min-width: 768px) {
      gap: 36px;
    }
  }
  &__title {
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }
  &__label {
    &_gap {
      display: grid;
      row-gap: 16px;
    }
  }

  &__input {
    height: 40px;
    background-color: $gray-300;
    border-radius: 8px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: $gray-350 0.5px solid;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: $black-700;
    width: 100%;
    &::placeholder {
      color: $gray-400;
    }

    &:focus-visible {
      outline: none;
      border: 0.5px solid $black-700;
    }
    &:disabled {
      color: $gray-350;
    }

    &_invisible {
      display: none;
    }
  }
  &__error {
    display: block;
    opacity: 0;
    font-size: 15px;
    line-height: 18px;
    &_active {
      opacity: 1;
      color: #9d1435;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 220px 220px;
      justify-content: center;
      align-items: baseline;
    }
  }
}
