.authorize {
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 375px;
  background-color: #eff3f2;
  box-sizing: border-box;

  &__title {
    align-self: flex-start;
    color: black;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.41px;
    margin: 0 0 26px 0;
    padding: 0;

    &_authByEmail {
      font-weight: 500;
      font-size: 18px;
      line-height: 25.2px;
      margin: 109px 0 13px;
    }
    &_passwordSaved {
      margin: 65px 0 142px;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__container {
    &_login {
      margin-top: 160px;
      margin-bottom: 196px;
    }
    &_register {
      margin-bottom: 40px;
    }
    &_changePassword {
      margin-bottom: 36px;
    }
    &_authByEmail {
      margin: 0 0 52px;
    }
  }
  &__login-label {
    position: relative;
  }
  &__input {
    height: 56px;
    // margin-bottom: 24px;
    border: 2px solid #00be6e;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 0 20px 54px;
    width: 100%;
  }
  &__iconsEmail {
    margin-bottom: 26px;
  }
  &__iconItem {
    display: inline-block;

    width: 70px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    border: none;
  }
  &__icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 20px;
  }
  &__label {
    display: flex;
    flex-direction: row;
    // margin-top: 24px;
  }
  &__checkbox {
    margin: 0 14px;
  }
  &__link {
    color: #009800;
    font-size: 10px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    text-align: center;
    text-decoration: none;
    margin-top: 26px;
  }
  &__error {
    opacity: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.2;
    color: #ee3465;
    display: block;
    height: 24px;

    padding: 5px;
    padding-top: 0px;
    box-sizing: border-box;

    &_active {
      opacity: 1;
    }
  }

  p {
    margin: 0;
  }

  &__img {
    width: 138px;
    align-self: center;
  }
}

.wrap {
  display: flex;
  align-items: center;
  margin: 20px auto;
  &__line {
    width: 120px;
    height: 1px;
    background-color: #294651;
  }
  span {
    margin: 0 13px;
  }
}
