.buttonAuth {
  background-color: #aeaeae;
  border-radius: 25px;
  color: white;
  height: 44px;
  border: none;
  cursor: pointer;
  // width: 343px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

  &_profile {
    height: 37px;
  }
}

.buttonAuthMail {
  color: #324552;
  background-color: white;
  border: 1px #000000 solid;
  border-radius: 25px;
  height: 44px;
}
