.buttonAuth {
  background-color: #aeaeae;
  border-radius: 25px;
  color: white;
  height: 44px;
  border: none;
  cursor: pointer;
  // width: 343px;
  width: 100%;
}

.buttonAuthMail {
  color: #324552;
  background-color: white;
  border: 1px #000000 solid;
  border-radius: 25px;
  height: 44px;
}
