
@import './colors/buttons';
@import './colors/texts';

.App {
  &__container {
    padding: 0 16px;
    box-sizing: border-box;
    height: 100vh;
    max-width: 375px;

    @media (max-width: 767px) {
      max-width: 375px; // временно, для того чтобы navbar не уезжал
      margin: 0 auto;
      padding: 0 16px;
    }
  }
}
