@import './colors/colors.scss';

.App {
  box-sizing: border-box;

  &__desktop {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1.1fr 2fr;
      gap: 40px;
    }
  }

  &__container {
    padding: 0 16px;
    max-width: 375px;
    margin: 0 auto;

    @media (min-width: 575px) {
      max-width: 575px;
    }

    @media (min-width: 768px) {
      box-sizing: border-box;
      max-width: 645px;
      margin: 0;
      padding: 40px;
    }

    // @media (min-width: 1280px) {
    //   padding: 0;
    //   max-width: 768px;
    // }

    // @media (min-width: 1440px) {
    //   padding: 0;
    //   max-width: 1400px;
    // }
  }
}
