.certificate {
  display: grid;
  gap: 16px;
  &__title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
  }

  &__item {
    display: inline-block;
    width: 120px;
    height: 120px;
    scroll-snap-align: center;
  }
}
