.slider {
  display: block;
  overflow: hidden;
  max-width: 375px;
  margin-bottom: 24px;

  @media (min-width: 575px) {
    max-width: 575px;
  }

  @media (min-width: 768px) {
    max-width: 645px;
    margin: 36px 0 30px;
  }

  &__window {
    overflow-x: scroll;
    max-width: 375px;

    @media (min-width: 575px) {
      max-width: 575px;
    }

    @media (min-width: 768px) {
      max-width: 645px;
    }
  }
  &__container {
    display: flex;
    gap: 8px;
    // transform: translateX();
    transition: transform 0.5s ease-in-out;
  }
}
