.socialIcons {
  &__wrapper {
    display: flex;
    justify-content: center;
    gap: 28px;
  }
  &__btnVk{
    border: none;
    background-color: transparent;
    padding: 0;

    &::before {
      width: 48px;
      height: 48px;
      display: block;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 49 48' fill='none'%3E%3Cg clip-path='url(%23clip0_1016_4258)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.87413 3.37413C0.5 6.74826 0.5 12.1788 0.5 23.04V24.96C0.5 35.8212 0.5 41.2517 3.87413 44.6259C7.24826 48 12.6788 48 23.54 48H25.46C36.3212 48 41.7517 48 45.1259 44.6259C48.5 41.2517 48.5 35.8212 48.5 24.96V23.04C48.5 12.1788 48.5 6.74826 45.1259 3.37413C41.7517 0 36.3212 0 25.46 0H23.54C12.6788 0 7.24826 0 3.87413 3.37413ZM8.60012 14.6001C8.86012 27.0801 15.1001 34.5801 26.0401 34.5801H26.6602V27.4401C30.6802 27.8401 33.72 30.7801 34.94 34.5801H40.6201C39.0601 28.9001 34.9599 25.7601 32.3999 24.5601C34.9599 23.0801 38.5599 19.4801 39.4199 14.6001H34.2598C33.1398 18.5601 29.8202 22.1601 26.6602 22.5001V14.6001H21.5V28.4401C18.3 27.6401 14.2601 23.7601 14.0801 14.6001H8.60012Z' fill='%230077FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1016_4258'%3E%3Crect width='48' height='48' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &__btnMail{
    border: none;
    background-color: transparent;
    padding: 0;

    &::before {
      width: 48px;
      height: 48px;
      display: block;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='48' viewBox='0 0 49 48' fill='none'%3E%3Cg clip-path='url(%23clip0_1016_4259)'%3E%3Cpath d='M23.6726 10.5318C27.3371 10.5318 30.7901 12.1563 33.3206 14.6958V14.7033C33.3206 13.4838 34.1411 12.5613 35.2751 12.5613H35.5631C37.3526 12.5613 37.7111 14.2488 37.7111 14.7813L37.7186 33.7338C37.5941 34.9758 39.0011 35.6178 39.7826 34.8198C42.8201 31.6953 46.4606 18.7413 37.8911 11.2413C29.8991 4.24075 19.1726 5.39725 13.4696 9.32725C7.40806 13.5153 3.53356 22.7658 7.29706 31.4598C11.4071 40.9383 23.1566 43.7658 30.1496 40.9458C33.6896 39.5163 35.3216 44.2953 31.6421 45.8598C26.0966 48.2253 10.6421 47.9838 3.42406 35.4843C-1.45244 27.0408 -1.19444 12.1878 11.7446 4.49275C21.6341 -1.39775 34.6826 0.234255 42.5486 8.44675C50.7686 17.0403 50.2931 33.1188 42.2681 39.3693C38.6336 42.2118 33.2366 39.4473 33.2756 35.3058L33.2351 33.9558C30.7046 36.4623 27.3371 37.9323 23.6726 37.9323C16.4231 37.9323 10.0406 31.5483 10.0406 24.3063C10.0406 16.9863 16.4231 10.5348 23.6726 10.5348V10.5318ZM32.7911 23.7828C32.5166 18.4773 28.5791 15.2823 23.8211 15.2823H23.6411C18.1571 15.2823 15.1106 19.6023 15.1106 24.4998C15.1106 29.9913 18.7901 33.4593 23.6186 33.4593C29.0081 33.4593 32.5466 29.5158 32.8046 24.8508L32.7911 23.7828Z' fill='%23FF9E00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1016_4259'%3E%3Crect width='48' height='48' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &__btnYa{
    border: none;
    background-color: transparent;
    padding: 0;

    &::before {
      width: 48px;
      height: 48px;
      display: block;
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='48' viewBox='0 0 49 48' fill='none'%3E%3Cg clip-path='url(%23clip0_1016_4255)'%3E%3Cpath d='M24.4999 47.9511C37.7278 47.9511 48.451 37.2278 48.451 24C48.451 10.7721 37.7278 0.0488281 24.4999 0.0488281C11.2721 0.0488281 0.548828 10.7721 0.548828 24C0.548828 37.2278 11.2721 47.9511 24.4999 47.9511Z' fill='%23FC3F1D'/%3E%3Cpath d='M33.1669 39.0355H27.9091V13.0311H25.5669C21.2736 13.0311 19.0247 15.1777 19.0247 18.3822C19.0247 22.0177 20.5758 23.7022 23.7847 25.8488L26.4291 27.6311L18.8291 39.031H13.1758L20.0158 28.8533C16.0824 26.0444 13.8691 23.3022 13.8691 18.6755C13.8691 12.8933 17.9002 8.95996 25.5313 8.95996H33.1313V39.0266H33.1669V39.0355Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1016_4255'%3E%3Crect width='48' height='48' fill='white' transform='translate(0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &__btnVk, &__btnMail, &__btnYa {
    cursor:pointer;
    transition: all 0.2s ease;

    &:hover {
      opacity: .8;
      scale: 1.06;
    }
  }
}
